.boton-presente {
    margin-top: 20px;
    width: 80%; /* Ancho del botón */
    text-align: center; /* Centra el texto dentro del botón */
    font-size: 1.2rem; /* Aumenta el tamaño del texto del botón */
    font-weight: bold; /* Hace que el texto del botón sea más llamativo */
  }

  .temporizador {
    font-size: 5rem; /* Aumenta el tamaño del texto del temporizador */
    font-weight: bold;
    color: #000000; /* Cambia el color del temporizador a rojo */
    padding: 20px;
    text-shadow: 2px 2px 4px #000000; /* Sombra para hacer las letras más llamativas */
  }
.titulo{
 text-align: center;
}