/* .contenedor{
    margin-top: 25px;
    text-align: center;
}
.contenedor img{
    border-radius: 25px  25px  25px  25px;
    border: solid 2px red;
}
ion-content{
    --background: black;
} */
ion-progress-bar {
    --background: #233981;
    --progress-background: #ffd000;
  }
